// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #413075;

$secondary: #6B56A5;
$accent: #B9A6E8;

$dark: #1B1628;
$dark-page: #120F1A;

$positive: #2EAD67;
$negative: #D64545;
$info: #4A90E2;
$warning: #E6A23C;
